<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>CheckPlot extension simplifies your workflow by placing checkboxes next to each result, therefore allowing you to select the ones you'd like to launch in new tabs.
	</title>
</head>
<body>
	<div class="settingsPanel">
		<div class="panel panel-primary noBorder">
			<div class="panel-heading" style="text-align:center;">
				<h3 class="panel-title">
					<img class="iconBig" src="/images/icon_pop.png"/>
					Search Engine Options</h3>
				</div>
				<div class="panel-body">
					<div title="Turn extension on/off for GOOGLE">
						<h4><img class="iconSmall" src="/images/favicon_GOOGLE.ico"/>&nbsp;Google</h4><input type="checkbox" id="GOOGLE" checked>
					</div>
					<div class="lineBreak dashed" title="Turn extension on/off for YAHOO">
						<h4><img class="iconSmall" src="/images/favicon_YAHOO.ico"/>&nbsp;Yahoo</h4><input type="checkbox" id="YAHOO" checked>
					</div>
					<div class="lineBreak dashed" title="Turn extension on/off for BING">
						<h4><img class="iconSmall" src="/images/favicon_BING.ico"/>&nbsp;Bing</h4><input type="checkbox" id="BING" checked>
					</div>
					<div class="lineBreak dashed" title="Turn extension on/off for BAIDU">
						<h4><img class="iconSmall" src="/images/favicon_BAIDU.ico"/>&nbsp;Baidu</h4><input type="checkbox" id="BAIDU" checked>
					</div> 
					<div class="lineBreakBig">
						 <a target="_blank" class="btn btn-info" href="https://chrome.google.com/webstore/detail/checkplot/caeobclidefoanecacgmnnkckoljildh/support">Contact us</a>
					</div>	
					<div class="footer_tx">&copy;&nbsp;CheckPlot</div>    
				</div>
			</div>
		</div>
	</body>
	</html>
	<!-- scripts -->
	<script src="/lib/jquery.js"></script>
	<link href="/lib/bootstrapswitch/bootstrap.min.css" rel="stylesheet">
	<script src="/lib/bootstrapswitch/bootstrap.min.js"></script>
	<script src="/lib/bootstrapswitch/bootstrap-switch.js"></script>
	<link href="/lib/bootstrapswitch/bootstrap-switch.css" rel="stylesheet">
	<link href="/css/custom.css" rel="stylesheet">
	<script src="/js/options.js"></script> 